<nav class="navbar fixed-top border-bottom navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">
    <strong>Confirmed</strong> Partner
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <span class="p-3">{{email}}</span>
      </li>
    </ul>
    <a class="btn btn-outline-primary" href="/partner">Dashboard</a>
  </div>
</nav>